.game-container {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  width: 400px;
  align-items: center;
  text-decoration: none;
  font-size: 22px;
  transition: transform 300ms;
}

.game-container:hover {
  transform: scale(1.04);
}

.game-title, .game-category {
  margin: 0;
  padding: 0;
  text-align: center;
}

.game-image {

}